<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>대표의사 – 평생 함께하는 의사</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao8bf14c69ff30f2814723118d34b74f77</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>KAKAO_APP_KEY</key>
	<string>8bf14c69ff30f2814723118d34b74f77</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>대표의사에서 프로필 이미지 또는 음식 이미지 등록에 사용하기 위해서 카메라 및 갤러리 권한이 필요합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>대표의사에서 프로필 이미지 또는 음식 이미지 등록에 사용하기 위해서 카메라 및 갤러리 권한이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>대표의사에서 프로필 이미지 또는 음식 이미지 등록에 사용하기 위해서 카메라 및 갤러리 권한이 필요합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/NotoSansKR-Black.otf</string>
		<string>Fonts/NotoSansKR-Bold.otf</string>
		<string>Fonts/NotoSansKR-Light.otf</string>
		<string>Fonts/NotoSansKR-Medium.otf</string>
		<string>Fonts/NotoSansKR-Regular.otf</string>
		<string>Fonts/NotoSansKR-Thin.otf</string>
		<string>Fonts/NotoSansKR-DemiLight.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
